{extend name="public/base" /}

<!-- 当前页面的样式及JS -->
{block name="custom"}
<style>
    #content{
        margin-left: 21px;
    }
</style>
<link rel="stylesheet" href="/static/index/css/normalize.css">
<link rel="stylesheet" href="/static/index/css/set2.css">
<script src="/static/index/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/static/index/js/jquery.form.js"></script>
<script src="/static/index/js/layer/layer.js"></script>

{/block}

<!--内容-->
{block name="main"}
<div>
    <p>如果您对鹿角巷奶茶加盟事业感兴趣，请在下方留言，总部会在收到留言24小时给予回电，让我们为您更好的介绍鹿角巷加盟的相关信息，请保持手机畅通，谢谢！</p>
    <p>鹿角巷联系400电话：{$configuration['tel']}</p>
    <p>鹿角巷手机联系方式：{$configuration['mobile']}</p>
    <form method="post" class="form-horizontal" action="{:url('index/Aboutus/insert_message')}" id="addForm">
    <div class="htmleaf-container">
        <section class="jq22-content bgcolor-3" >
                {:token()}
                <span class="input input--manami">
					<input class="input__field input__field--manami" type="text" id="name" name="name" />
					<label class="input__label input__label--manami" for="name">
						<span class="input__label-content input__label-content--manami">您的姓名</span>
					</label>
				</span>
                <span class="input input--manami">
					<input class="input__field input__field--manami" type="tel" id="mobile" name="mobile" />
					<label class="input__label input__label--manami" for="mobile">
						<span class="input__label-content input__label-content--manami">联系电话</span>
					</label>
				</span>
                <span class="input input--manami">
					<input class="input__field input__field--manami" type="email" id="email" name="email"/>
					<label class="input__label input__label--manami" for="email">
						<span class="input__label-content input__label-content--manami">邮箱地址</span>
					</label>
				</span>
                <textarea class="textarea" name="content" id="content" placeholder="我对【鹿角巷奶茶】挺感兴趣，请发下资料给我！"></textarea>

        </section>
    </div>
    <p><button class="button" type="submit">提交</button></p>
    </form>
</div>
{/block}

{block name="model"}
<script src="/static/index/js/classie.js"></script>
<script>
    /*<====================================input样式==========================================>*/
    (function () {
        if (!String.prototype.trim) {
            (function () {
                // Make sure we trim BOM and NBSP
                var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                String.prototype.trim = function () {
                    return this.replace(rtrim, '');
                };
            })();
        }

        [ ].slice.call(document.querySelectorAll('input.input__field')).forEach(function (inputEl) {
            // in case the input is already filled..
            if (inputEl.value.trim() !== '') {
                classie.add(inputEl.parentNode, 'input--filled');
            }

            // events:
            inputEl.addEventListener('focus', onInputFocus);
            inputEl.addEventListener('blur', onInputBlur);
        });

        function onInputFocus(ev) {
            classie.add(ev.target.parentNode, 'input--filled');
        }

        function onInputBlur(ev) {
            if (ev.target.value.trim() === '') {
                classie.remove(ev.target.parentNode, 'input--filled');
            }
        }
    })();
    /*<====================================表单提交==========================================>*/
    $('#addForm').ajaxForm({
        //前端验证
        beforeSubmit:function () {
            if($.trim($('#name').val()) == ''){
                layer.msg('姓名不能为空',{icon: 5,time:1500,shade:0.5});
                return false;
            }
            if($.trim($('#mobile').val()) == ''){
                layer.msg('电话不能为空',{icon: 5,time:1500,shade:0.5});
                return false;
            }
        },
        //提交到后台后，和后台进行交互 ，处理结果
        success:function (res){
            //console.log(res);
            if(res.code == 1){
                layer.alert('我们会尽快联系你的，请保持手机畅通！', {
                    icon: 1,    //图标
                    title:res.msg,  //标题
                    closeBtn: 1,    // 是否显示关闭按钮
                    anim: 4, //动画类型
                    move: false,//是否可以拖动，默认可以拖动
                    btn: ['确定'], //按钮，默认有一个确定按钮
                    yes:function(){     //确定按钮
                        history.go(0);
                    },
                    cancel: function(){     // 右上角关闭按钮的点击事件
                        history.go(0);
                    }
                });
            }else{
                layer.alert('请稍后再试！', {
                    icon: 5,    //图标
                    title:res.msg,  //标题
                    closeBtn: 1,    // 是否显示关闭按钮
                    anim: 4, //动画类型
                    move: false,//是否可以拖动，默认可以拖动
                    btn: ['确定'], //按钮
                    btnAlign: 'r',  //按钮右对齐。默认值，不用设置
                    shade: [0.8,'#393D49'],    //遮罩层
                    shadeClose: true,   //是否点击遮罩关闭,默认:false
                    yes:function(){     //确定按钮
                        console.log('√');
                        history.go(0);
                    },
                    cancel: function(){     // 右上角关闭按钮的点击事件
                        console.log('X');
                        history.go(0);
                    },
                    end: function () {   //层销毁后触发的回调
                        console.log('over');
                        history.go(0);
                    }
                });
            }
        },
        //其他错误信息
        error:function () {
            layer.msg("非法操作",{icon: 5,time:1500,shade:0.5});
            return false;
        },
    })
</script>
{/block}
